@model PROJETO.A3.USJT.Models.Recurso
@using PROJETO.A3.USJT.Models.Enums
@{
    var voluntarios = ViewBag.Voluntarios as List<Voluntario>;
}
@{
    ViewData["Title"] = "Editar Recurso";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="container">
    <h3>Inclusão de Recursos/Insumos</h3>
    <div class="row">
        <div class="container">
        </div>
    </div>
    <div class="row">
        <div class="container">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h5 class="mt-4">Dados Cadastrais</h5>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Nome do Recurso</label>
                            <input asp-for="NomeRecurso" class="form-control" />
                            <span asp-validation-for="NomeRecurso" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Descrição</label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="Categoria" class="control-label"></label>
                            <select asp-for="Categoria" class="form-control">
                                @foreach (var value in Enum.GetValues(typeof(CategoriaRecurso)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                            <span asp-validation-for="Categoria" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Situação</label>
                            <select asp-for="Situacao" class="form-control">
                                @foreach (var value in Enum.GetValues(typeof(SituacaoRecurso)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </select>
                            <span asp-validation-for="Situacao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Voluntário</label>
                        <select asp-for="VoluntarioId" class="form-control">
                            @foreach (var value in voluntarios)
                            {
                                <option value="@value.VoluntarioId">@value.Nome @value.Sobrenome</option>
                            }
                        </select>
                        <span asp-validation-for="VoluntarioId" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Data de Recebimento</label>
                        <input type="date" asp-for="DataRecebimento" class="form-control"/>
                        <span asp-validation-for="DataRecebimento" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mt-3">
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
                            <input type="submit" value="Salvar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
