@model PROJETO.A3.USJT.Models.Dashboard
@using PROJETO.A3.USJT.Models.Enums

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="container" >
    <div class="row mt-4">
        <div class="col-sm-12">
            <h3>Olá, Daniel Cardoso!</h3>
            <h5>
                Bem-vindo ao Portal do Voluntário! Confira abaixo a dashboard de como está a S.O.S. PET hoje!
            </h5>
            <hr />
        </div>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <b><i class="fa-solid fa-calendar"></i> Tem evento vindo aí, em!</b> O próximo ocorrerá em 01/08/2023. Fale com o responsável caso queira colaborar!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row mt-4 mb-2">
        <h4>Menu Rápido</h4>
        <div class="col-md-3">
            <a class="card shadow text-center dash-card" asp-controller="Animals" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black"><i class="fa-solid fa-dog"></i> Animais</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card shadow text-center dash-card" asp-controller="Voluntarios" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black"><i class="fa-solid fa-people-group"></i> Voluntários</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card shadow text-center dash-card" asp-controller="Eventos" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black"><i class="fa-solid fa-calendar"></i> Eventos</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card shadow text-center dash-card" asp-controller="Recursos" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black"><i class="fa-solid fa-pills"></i> Recursos</h5>
            </a>
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <h4>Nossa causa em números</h4>
        <div class="col-sm-8">
            <div class="card shadow dash-card">
                <div class="card-body">
                    <div id="chart-bars"></div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card shadow dash-card">
                <div class="card-body">
                    <h6 class="text-center mt-1"><b>Você faz parte! </b>Já encontramos um lar para <b>@Model.PetsDoados</b> pets, e temos <b>@Model.PetsOng</b> pets disponíveis para doação!</h6>
                </div>
            </div>
            <div class="card shadow mt-4 dash-card">
                <div class="card-body">
                    <div id="chart-pie"></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row mt-4 mb-5">
        <div class="col-sm-12">
            <div class="card shadow dash-card">
                <div class="card-body">
                    <div id="chart-recursos"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var doados = @System.Text.Json.JsonSerializer.Serialize(Model.Doados15DaysChart);
    var acolhidos = @System.Text.Json.JsonSerializer.Serialize(Model.Acolhidos15DaysChart);
    @{
        string json = System.Text.Json.JsonSerializer.Serialize(Model.Datas15DaysChart);
        string jsonArray = $"JSON.parse('{json}')";
    }
    var datas = @Html.Raw(jsonArray);

    var zerados = @System.Text.Json.JsonSerializer.Serialize(Model.Zerados);
    var baixos = @System.Text.Json.JsonSerializer.Serialize(Model.Baixos);
    var criticos = @System.Text.Json.JsonSerializer.Serialize(Model.Criticos);
    var oks = @System.Text.Json.JsonSerializer.Serialize(Model.Oks);
    var completos = @System.Text.Json.JsonSerializer.Serialize(Model.Completos);
    console.log(datas);

    //grafico de barras
    var options = {
        series: [{
            name: 'Doados',
            type: 'column',
            data: doados
        }, {
            name: 'Acolhidos',
            type: 'line',
            data: acolhidos
        }],
        chart: {
            height: 360,
            type: 'line',
        },
        stroke: {
            width: [0, 4]
        },
        title: {
            text: 'Correlação de Animais Acolhidos e Doados nos últimos 15 dias'
        },
        dataLabels: {
            enabled: true,
            enabledOnSeries: [1]
        },
        labels: datas,
        xaxis: {
            type: 'text'
        },
        yaxis: [{
            title: {
                text: 'Doados',
            },
            decimalsInFloat: 0,
            tickAmount: 1,

        }, {
            opposite: true,
            title: {
                text: 'Acolhidos'
            }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#chart-bars"), options);
    chart.render();





    //Gráfico de Pizza
    var options = {
        series: [@Model.CachorrosContagem, @Model.GatosContagem],
        chart: {
            width: 365,
            type: 'pie',
        },
        title: {
            text: 'Cães x Gatos na ONG hoje'
        },
        labels: ['Cães', 'Gatos'],
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#chart-pie"), options);
    chart.render();


    var options = {
        series: [{
            name: 'Zerado',
            data: zerados
        }, {
            name: 'Crítico',
            data: criticos
        }, {
            name: 'Baixo',
            data: baixos
        }, {
            name: 'OK',
            data: oks
        }, {
            name: 'Completo',
            data: completos
        }],
        chart: {
            type: 'bar',
            height: 350,
            stacked: true,
        },
        plotOptions: {
            bar: {
                horizontal: true,
                dataLabels: {
                    total: {
                        enabled: true,
                        offsetX: 0,
                        style: {
                            fontSize: '13px',
                            fontWeight: 900
                        }
                    }
                }
            },
        },
        colors: ['#ed4a4a', '#fc6900', '#fcb900', '#5297eb', '#51bd56'],
        stroke: {
            width: 1,
            colors: ['#fff']
        },
        title: {
            text: 'Quantidade de Recursos x Situação/Totalização'
        },
        xaxis: {
            categories: ['Remédios', 'Vitaminas', 'Ração', 'Vestimentas', 'Vacinas', 'Outros']
            
        },
        yaxis: {
            title: {
                text: undefined
            },
        },
        tooltip: {
            
        },
        fill: {
            opacity: 1
        },
        legend: {
            position: 'top',
            horizontalAlign: 'left',
            offsetX: 40
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart-recursos"), options);
    chart.render();

</script>