@model PROJETO.A3.USJT.Models.Dashboard
@using PROJETO.A3.USJT.Models.Enums
@using System.Text.Json;

@{
    var proximosEventos = ViewBag.ProximosEventos as List<Evento>;
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="container" >
    <div class="row mt-4">
        <div class="col-sm-12">
            <h3>Olá, Voluntário!</h3>
            <h5>
                Bem-vindo ao Portal dos Voluntários! Confira abaixo a dashboard de como está a S.O.S. PET hoje!
            </h5>
            <hr />
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <h4>Menu Rápido</h4>
        <div class="col-md-3">
            <a class="card shadow-sm text-center dash-card" asp-controller="Animals" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black"><i class="fa-solid fa-dog"></i> Animais</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card shadow-sm text-center dash-card" asp-controller="Voluntarios" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black"><i class="fa-solid fa-people-group"></i> Voluntários</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card shadow-sm text-center dash-card" asp-controller="Eventos" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black"><i class="fa-solid fa-calendar"></i> Eventos</h5>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card shadow-sm text-center dash-card" asp-controller="Recursos" asp-action="Index" style="cursor: pointer; text-decoration: none;">
                <h5 class="mb-3 mt-3" style="color: black"><i class="fa-solid fa-pills"></i> Recursos</h5>
            </a>
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <h4>Nossa causa em números</h4>
        <div class="col-sm-8">
            <div class="card shadow-sm dash-card">
                <div class="card-body">
                    <div id="chart-bars"></div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card shadow-sm dash-card">
                <div class="card-body">
                    <h6 class="text-center mt-1"><b>Você faz parte! </b>Já encontramos um lar para <b>@Model.PetsDoados</b> pets, e temos <b>@Model.PetsOng</b> pets disponíveis para doação!</h6>
                </div>
            </div>
            <div class="card shadow-sm mt-4 dash-card">
                <div class="card-body">
                    <div id="chart-pie"></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-4">
            <div class="card shadow-sm dash-card">
                <div class="card-body">
                    <div class="mt-3"id="chart-volunteers"></div>
                </div>
            </div>
        </div>
@*        <div class="col-sm-4">
            <div class="card shadow-sm dash-card">
                <div class="card-body">
                    <ol class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Voluntários</div>
                            </div>
                            <span class="badge bg-primary rounded-pill">+@Model.NovosVoluntarios neste mês</span>
                        </li>
                         <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Pets Acolhidos</div>
                            </div>
                            <span class="badge bg-primary rounded-pill">+@Model.NovosPetsA esta semana</span>
                        </li>
                         <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Pets Doados</div>
                            </div>
                            <span class="badge bg-primary rounded-pill">+@Model.NovosPetsD essa semana</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Recurso</div>
                            </div>
                            <span class="badge bg-primary rounded-pill">+@Model.NovosRecursos neste mês</span>
                        </li>
                    </ol>
                </div>
            </div>

        </div>*@
        <div class="col-sm-8">
            <div class="card shadow-sm dash-card">
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        <div class="text-center">
                            <b>Próximos Eventos</b>
                        <hr/>
                        </div>
                         @foreach (var item in proximosEventos)
                        {
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true" style="border-radius:15px">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">@item.Titulo - @item.DescBreve</h6>
                                    <small class="badge bg-primary rounded-pill">@item.DataEvento.ToString("dd/MM/yyyy")</small>
                                </div>
                            </a>
                        }
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-4 mb-5">
        <div class="col-sm-12">
            <div class="card shadow-sm dash-card">
                <div class="card-body">
                    <div id="chart-recursos"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h6>Por hoje é isso, voluntário! <i class="fa-regular fa-face-smile-wink"></i></h6> <h6> Você chegou ao fim. Deseja <a href="#">voltar ao topo</a>?</h6>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var doados = @JsonSerializer.Serialize(Model.Doados15DaysChart);
    var acolhidos = @JsonSerializer.Serialize(Model.Acolhidos15DaysChart);
    @{
        string json = JsonSerializer.Serialize(Model.Datas15DaysChart);
        string jsonArray = $"JSON.parse('{json}')";
    }
    var datas = @Html.Raw(jsonArray);
    var zerados = @JsonSerializer.Serialize(Model.Zerados);
    var baixos = @JsonSerializer.Serialize(Model.Baixos);
    var criticos = @JsonSerializer.Serialize(Model.Criticos);
    var oks = @JsonSerializer.Serialize(Model.Oks);
    var completos = @JsonSerializer.Serialize(Model.Completos);
    var efetivoOng = @JsonSerializer.Serialize(Model.EfetivoOng);

    //grafico de barras
    var options = {
        series: [{
            name: 'Doados',
            type: 'column',
            data: doados
        }, {
            name: 'Acolhidos',
            type: 'line',
            data: acolhidos
        }],
        chart: {
            height: 360,
            type: 'line',
        },
        stroke: {
            width: [0, 4]
        },
        title: {
            text: 'Correlação de Animais Acolhidos e Doados nos últimos 15 dias'
        },
        dataLabels: {
            enabled: true,
            enabledOnSeries: [1]
        },
        labels: datas,
        xaxis: {
            type: 'text'
        },
        yaxis: [{
            title: {
                text: 'Doados',
            },
            decimalsInFloat: 0,
            tickAmount: 1,

        }, {
            opposite: true,
            title: {
                text: 'Acolhidos'
            }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#chart-bars"), options);
    chart.render();





    //Gráfico de Pizza
    var options = {
        series: [@Model.CachorrosContagem, @Model.GatosContagem],
        chart: {
            width: 345,
            type: 'pie',
        },
        title: {
            text: 'Cães x Gatos na ONG hoje'
        },
        labels: ['Cães', 'Gatos'],
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'left'
                }
            }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#chart-pie"), options);
    chart.render();


    var options = {
        series: [{
            name: 'Zerado',
            data: zerados
        }, {
            name: 'Crítico',
            data: criticos
        }, {
            name: 'Baixo',
            data: baixos
        }, {
            name: 'OK',
            data: oks
        }, {
            name: 'Completo',
            data: completos
        }],
        chart: {
            type: 'bar',
            height: 350,
            stacked: true,
        },
        plotOptions: {
            bar: {
                horizontal: true,
                dataLabels: {
                    total: {
                        enabled: true,
                        offsetX: 0,
                        style: {
                            fontSize: '13px',
                            fontWeight: 900
                        }
                    }
                }
            },
        },
        colors: ['#ed4a4a', '#fc6900', '#fcb900', '#5297eb', '#51bd56'],
        stroke: {
            width: 1,
            colors: ['#fff']
        },
        title: {
            text: 'Quantidade de Recursos x Situação'
        },
        xaxis: {
            categories: ['Vacinas', 'Remédios', 'Ração', 'Vitaminas', 'Vestimentas', 'Outros']
            
        },
        yaxis: {
            title: {
                text: undefined
            },
        },
        tooltip: {
            
        },
        fill: {
            opacity: 1
        },
        legend: {
            position: 'top',
            horizontalAlign: 'left',
            offsetX: 40
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart-recursos"), options);
    chart.render();


    var options = {
        series: [efetivoOng],
        chart: {
            type: 'radialBar',
            offsetY: -20,
            sparkline: {
                enabled: true
            }
        },
        title: {
            text: 'Efetivo da ONG em Atividade'
        },
        plotOptions: {
            radialBar: {
                startAngle: -90,
                endAngle: 90,
                track: {
                    background: "#e7e7e7",
                    strokeWidth: '97%',
                    margin: 5, // margin is in pixels
                    dropShadow: {
                        enabled: true,
                        top: 2,
                        left: 0,
                        color: '#999',
                        opacity: 1,
                        blur: 2
                    }
                },
                dataLabels: {
                    name: {
                        show: false
                    },
                    value: {
                        offsetY: -2,
                        fontSize: '22px'
                    }
                }
            }
        },
        grid: {
            padding: {
                top: -10
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                shade: 'light',
                shadeIntensity: 0,
                inverseColors: false,
                opacityFrom: 1,
                opacityTo: 1,
                stops: [0, 50, 53, 91]
            },
        },
        labels: ['Average Results'],
    };

    var chart = new ApexCharts(document.querySelector("#chart-volunteers"), options);
    chart.render();

</script>