@model IEnumerable<PROJETO.A3.USJT.Models.Usuario>
@{
    ViewData["Title"] = "Controle de Usuários";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<div class="container">
    <h3>Usuários</h3>

    <div class="card mt-4 shadow-sm rounded">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <h5 style="margin-top: 10px">Cadastrados na Plataforma</h5>
                </div>
                <div class="col-sm-6 text-end">
                    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary mt-1 mb-1"><i class="fa-solid fa-house"></i> Dashboard</a>
                    <a asp-action="Create" class="btn btn-success mt-1 mb-1"><i class="fa-solid fa-circle-plus"></i> Novo Recurso/Insumo</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="display" id="tableAnimais">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Senha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ativo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Voluntario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UsuarioInclusao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataInclusao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UsuarioAlteracao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataAlteracao)
                        </th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Senha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ativo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Voluntario.VoluntarioId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsuarioInclusao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataInclusao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsuarioAlteracao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataAlteracao)
                            </td>
                            <td style="width:70px">
                                <a asp-action="Edit" asp-route-id="@item.VoluntarioId"> <i class="fa-solid fa-pen" style="color: dimgray"> </i></a>
                                <a asp-action="Details" asp-route-id="@item.VoluntarioId"> <i class="fa-solid fa-book" style="color:  dimgray"> </i></a>
                                <a asp-action="Delete" asp-route-id="@item.VoluntarioId"> <i class="fa-solid fa-trash" style="color:  dimgray"> </i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




