@model PROJETO.A3.USJT.Models.Evento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="container" style="margin-top: 50px">
    <div>
        <h4>Eventos e Participações</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Título
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-2">
                Subtítulo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DescBreve)
            </dd>
            <dt class="col-sm-2">
                Data do Evento
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataEvento)
            </dd>
            <dt class="col-sm-2">
               Descrição
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                Endereço
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Endereco)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index" class=" btn btn-secondary">Voltar para Lista</a>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.EventoId">Editar</a>
    </div>
</div>

