@model IEnumerable<PROJETO.A3.USJT.Models.Evento>

@{
    ViewData["Title"] = "Eventos e Participações";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="container">
    <h3>Eventos e Participações</h3>

    <div class="card mt-4 shadow-sm rounded">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <h5 style="margin-top: 10px">Cadastrados na Plataforma</h5>
                </div>
                <div class="col-sm-6 text-end">
                    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary mt-1 mb-1"><i class="fa-solid fa-house"></i> Dashboard</a>
                    <a asp-action="Create" class="btn btn-success mt-1 mb-1"><i class="fa-solid fa-circle-plus"></i> Novo animal</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="display" id="tableAnimais">
                <thead>
                    <tr>
                        <th>
                            Título
                        </th>
                        <th>
                            Subtítulo
                        </th>
                        <th>
                            Postado em
                        </th>
                        <th>
                            Ocorrerá em
                        </th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DescBreve)
                            </td>
                            <td>
                                @item.DataInclusao.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.DataEvento.ToString("dd/MM/yyyy")
                            </td>
                            <td style="width:70px">
                                <a asp-action="Edit" asp-route-id="@item.EventoId"> <i class="fa-solid fa-pen" style="color: dimgray"> </i></a>
                                <a asp-action="Details" asp-route-id="@item.EventoId"> <i class="fa-solid fa-book" style="color:  dimgray"> </i></a>
                                <a asp-action="Delete" asp-route-id="@item.EventoId"> <i class="fa-solid fa-trash" style="color:  dimgray"> </i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>










